.primary {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #807777;
}

header {
    height: 100px;
    background-color: aqua;
}

.firstBox {
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    .left {
        width: 200px;
        background: #ffa6a6;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        a {
            width: 80%;
            height: 30px;
            border: 1px solid #000;
            border-radius: 5px;
            text-align: center;
            line-height: 30px;
        }
        a:hover {
            border-color: #54dd91;
            color: rgb(10, 143, 196);
        }
    }
    section {
        flex: 1;
        margin-left: 10px;
        background: #54dd91;
    }
}